@{

// Name: Channel Shift - Structured Content (Content types)
// Developer: Asif Nissar
// Name: Gallery Image - used in blackpool adult learning pages
// License: Blackpool council
// Date: 19/11/2021
}


@using System;
@using System.Collections;
@using Contensis.Framework.Web
@using Newtonsoft.Json
@using Zengenti.Contensis.Delivery;
@using Zengenti.Data;

@using Blackpool.Zengenti.CMS.Common;
@using Blackpool.Zengenti.CMS.Modules.Configuration;
@using Blackpool.Zengenti.CMS.Helpers;
@using Blackpool.Zengenti.CMS.Models.BlackpoolAdultLearning;
@using Blackpool.Zengenti.CMS.Models.Venues;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.Components;
@using Blackpool.Zengenti.CMS.Constants;

@{
    BlackpoolAdultLearningDTO DTO   = Page.Model;
    ContensisClient Client          = Page.Client;
    SerialisedItem serialisedItem   = null;
    List<ImageBox> gallery          = new List<ImageBox>();
    SportBlackpoolHelper helper     = null;
    Config config           = DTO.Config;


    if (DTO.Flow != null)
    {

        foreach (var item in DTO.Flow.GetContent)
        {
            List<SerialisedItem> SerailisedList = item.Items.FindAll(x => x.ClassType == typeof(ImageBox) && x.ContainerType == ComponentKeys.IMAGE_BOX);
            if (SerailisedList != null)
            {
                foreach (SerialisedItem si in SerailisedList)
                {
                    ImageBox temp = SerializeHelper.Deseralize(si) as ImageBox;
                    gallery.Add(temp);
                }
            }
        }
    }

    if (gallery.Count > 0)
    {

        <div class="row equal gallery zero-margin-all clearfix pad-bot-40 max-height-265">
            @foreach (var item in gallery)
            {
                string linkedHref = string.Empty;
                string ImageUrl = DTO.NoImageUrl;
                string altText = string.Empty;
                string imgSrc = string.Empty;
                try
                {
                    BlackpoolAdultLearning linkedItem = item.LinkedGenericItem<BlackpoolAdultLearning>();
                    if (linkedItem != null && !string.IsNullOrEmpty(linkedItem.Id) && Client != null)
                    {
                        Zengenti.Contensis.Delivery.Node node = Client.Nodes.GetByEntryId(linkedItem.Id).First();
                        linkedHref = StringUtility.BuildLinkFromSlug(DTO.Config.SeoUrlList.UrlPath, node.Path);
                    }

                    if (item.Image != null && item.Image.Asset != null)
                    {
                        ImageUrl = item.Image.Asset.Uri.ToString();
                        altText = item.Image.AltText;
                    }

                    linkedHref = String.IsNullOrEmpty(item.ExternalURL) ? linkedHref : item.ExternalURL;
                    imgSrc = DTO.IsLocal ? string.Format("{0}{1}", DTO.BaseImageUrl, ImageUrl) : ZenUtilities.ImageUriToCachedImageUri(string.Format("{0}{1}", DTO.BaseImageUrl, ImageUrl), 370, 245);

                }
                catch (Exception ex)
                {
                    linkedHref = string.Empty;
                }

                if (linkedHref != string.Empty)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 zero-pad-all gallery-margin" style="display:inline-block">
                        <div class="gallery-container gallery-click">
                            <div class="image-gallery">
                                <a href="@string.Format("{0}", linkedHref)" class="gallery-link pseudo-link-click" style="cursor:pointer; text-decoration:none;">
                                    <img src="@imgSrc" class="img-responsive" alt="@altText" />
                                </a>
                                <div class="middle">
                                    <div class="text gallery-title">@item.Title</div>
                                    <div class="text">
                                        @item.Information<br /><br />
                                    <img src="/SiteElements/ChannelShift/Content/Images/sport-blackpool/tile-arrow.png" alt="arrow" class="tile-arrow" />
                                </div>
                            </div>
                        </div>
                        <div class="text-gallery">&nbsp;</div>
                        <h2 class="text-overlay" style="@String.Format("{0}", item.Title.Length > 36 ? "top:100px;": "text-decoration:none;")">
                            <a href="@string.Format("{0}", linkedHref)"
                               class="hover-white accessibility-tab" style="color:#000; text-decoration:none;">
                                <strong>@item.Title</strong>
                            </a>
                        </h2>
                    </div>
                </div>
            }
        }

            <script type="text/javascript">

                $(document).on("click", "div.gallery-click", function (e) {

                    var link = $(this).find("a.pseudo-link-click");
                    var href = link.attr('href');
                    console.log("clicked tile " + href);
                    window.location = href;
                    e.preventDefault();
                    return false;
                });
            </script>
        </div>
    }

}


