@using Content.Modelling.Models.Accordions
@using RazorPageYourCouncilWebsite.Core.Models.ViewModels
@model AccordionViewModels

@{
    var counter = 1;
}

@if (Model.Entries != null && Model.Entries.Any())
{
    foreach (var entry in Model.Entries)
    {
        if (entry is Accordion accordion)
        {
            var accordionTitle = accordion.AccordionName ?? "accordion";
            var accordionItems = accordion.GetSerialisedContent(); // List<AccordionContent>

            if (accordionItems.Any())
            {
                counter = 1;
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-@accordionTitle">
                    @foreach (var item in accordionItems)
                    {
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-@accordionTitle-@counter">
                                        @item.Title
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-@counter" class="govuk-accordion__section-content">
                                <div class="govuk-body">@Html.Raw(item.Body)</div>
                            </div>
                        </div>
                        counter++;
                    }
                </div>
            }
        }
        else if (entry is AccordionWithButton accordionWithButton)
        {
            var accordionTitle = accordionWithButton.AccordionName ?? "accordion";
            var accordionItems = accordionWithButton.GetSerialisedContent(); // List<AccordionWithCTAContent>
     

            if (accordionItems.Any())
            {
                counter = 1;
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-@accordionTitle">
                    @foreach (var item in accordionItems)
                    {
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-@accordionTitle-@counter">
                                        @item.Title
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-@counter" class="govuk-accordion__section-content">
                                <div class="govuk-body">
                                    @Html.Raw(item.BodyContent)

                                    @if (item.CtaAccordionButton != null && !string.IsNullOrEmpty(item.CtaAccordionButton.Url))
                                    {
                                        <a class="cta-link-button accessibility-tab" href="@item.CtaAccordionButton.Url">
                                            @item.CtaAccordionButton.Text
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                </div>
            }
        }
    }
}