@{

    // Name: Channel Shift - Structured Content (Content types)
    // Developer: Asif Nissar
    // Name: Content used for Parks and Greenspaces
    // License: Blackpool council
    // Date: 05/11/2022
}


@using System;
@using System.Collections;
@using Contensis.Framework.Web
@using Newtonsoft.Json
@using Zengenti.Contensis.Delivery;
@using Zengenti.Data;
@using Blackpool.Zengenti.CMS.Constants;
@using Blackpool.Zengenti.CMS.Common;
@using Blackpool.Zengenti.CMS.Modules.Configuration;
@using Blackpool.Zengenti.CMS.Models.Components;
@using Blackpool.Zengenti.CMS.Models.ParksAndGreenSpaces;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.SiteView;
@using Blackpool.Zengenti.CMS.Helpers;

@{
    ParksAndGreenSpacesDTO DTO   = Page.Model;
    SiteView siteView               = DTO.SiteView;
    bool showRightDiv               = (DTO.PageType == (ParksAndGreenspacesPages.Top_Level_Home) || DTO.PageType == (ParksAndGreenspacesPages.Park) ||
                                            DTO.PageType == (ParksAndGreenspacesPages.Top_Level_Children_Grid)) ? false : true;
    bool formRender                 = false;
    int ctaLinkCounter              = 0;
    int childCount                  = DTO.SiteView.ChildNodes.Count();
    ParksAndGreenspacesPages PageType = DTO.PageType;


    if (DTO.PageType == ParksAndGreenspacesPages.Top_Level_Home)
    {
        DTO.CurrentItem.PageTitle = string.Empty;
    }

    Config config = new Config()
    {
        SeoUrlList = new SeoFriendlyUrlElement() { Key = SeoKeys.ParksAndGreenspaceKey }
    };

    DTO.Config = config;


}

<div id="content-inner" class="content-space clearfix">
    <div id="content-container" class="row zero-margin-all clearfix pad-bot-40">
        <div id="@string.Format("{0}", showRightDiv ? "content-left" : "content-full-width")" class="@string.Format("{0},", showRightDiv ? "col-md-9 zero-pad-all clearfix" : "col-md-12 col-sm-12 zero-pad-all clearfix")">

            <h1 id="content-inner-h1" class="pad-bot-40 marg-bot-0 marg-top-0">@DTO.CurrentItem.PageTitle</h1>

            @if (DTO.PageType != ParksAndGreenspacesPages.Park)
            {
                foreach (SerialisedContent item in DTO.Flow.GetContent)
                {
                    string partial = string.Empty;
                    string className = item.Items[0].ClassName;
                    string containerType = item.Items[0].ContainerType;
                    if (className == "CTALink")
                    {
                        ctaLinkCounter++;
                    }

                    <div style="display:none">
                        <strong style="display:none">@DTO.Config.SeoUrlList.Key</strong>
                        <strong style="display:none">@DTO.Config.SeoUrlList.UrlPath</strong>
                        <strong style="display:none">@className</strong>
                        <strong style="display:none">@DTO.CurrentItem.PageType</strong>
                    </div>

                    switch (className)
                    {
                        case "CourseAndEvents":
                            @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/events.cshtml"), new { Model = DTO, Events = item.Items })
                            break;
                        case "AccordionContent":
                            @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/accordion.cshtml"), new { Model = DTO })
                            break;
                        case "ContentBoxWithImage":
                            @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/markup-with-image.cshtml"), new { Model = DTO, Markup = item.Items })
                            break;
                        case "ContentBox":
                            @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/markup.cshtml"), new { Model = DTO, Markup = item.Items })
                            break;
                        case "CTALink":
                            @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/cta-link.cshtml"), new { Model = DTO, CtaLinks = item.Items, CtaCounter = 0, Serialised = true })
                            break;
                        case "Venue":
                            @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/map.cshtml"), new { Model = DTO })
                            break;

                        case "ImageBox":
                            if (DTO.PageType == ParksAndGreenspacesPages.Top_Level_Home || DTO.PageType == ParksAndGreenspacesPages.Top_Level_Children_Grid)
                            {

                                @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/top-level-children-grid.cshtml"), new { Model = DTO, Client = Page.Client })
                            }
                            break;

                        case "Form":
                            formRender = true;
                            break;
                        default:
                            break;
                    }

                    if (formRender)
                    {

                        @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/form.cshtml"), new { Model = DTO })
                        formRender = false;
                    }
                }
            }
            else
            {
                @RenderPage(String.Format("{0}{1}", DTO.RazorViewPath, "/partials/parks.cshtml"), new { Model = DTO })
            }
        </div>
        @if (showRightDiv)
        {
            <div id="content-right" class="col-md-3 col-sm-12 col-xs-12 zero-pad-all zero-margin-all">
         
            </div>
        }
    </div>
</div> <!-- end of content inner  -->


