@using Content.Modelling.Models.Templates
@using RazorPageBusinessWebsite.Core.Models;
@using RazorPageBusinessWebsite.Helpers;
@using Content.Modelling.Helpers;

@{
    var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    string baseUrl = UrlHelper.GetBaseAddressUrl(url.ToString());
    bool isTrue = !UrlHelper.IsLocal(baseUrl);

    if (isTrue)
    {
        baseUrl = baseUrl.Replace("http", "https");
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(Model.ViewModel?.ModelTitle ?? "Page not found")</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/Content/styles/bundles/year-2023/base.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/content/styles/bundles/year-2023/newsarticles.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/content/styles/contensis/common/forms/styles-2024.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/content/styles/home/IE/ie10.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/link-button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/webforms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/panel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/youtube.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/servicemessage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/AdditionalInformation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/image-gallery.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/image-text-component.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/tile-navigation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/block-quote.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/lead-paragraph.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/data-table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/ul-lists.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/ul-lists-gov.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/headings.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/call-to-action-buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/service-contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/css/old-forms.css" asp-append-version="true" />

    <link rel="shortcut icon" href="~/SiteElements/ChannelShift/content/images/favicons/favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/handlebars.min.js?"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/defiant.min.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/jquery.sidr.min.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/underscore.min.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/handlebars/handlebar-helpers.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/thirdparty/fluidvids/fluidvids.min.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/cookieservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/twitter/twitter.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/utilitiesservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/dateservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/footerservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/homeservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/tableservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/services/yourareaservices.js"></script>

    <script type="text/javascript" src="~/static/js/services/formservices.js"></script>
    <script type="text/javascript" src="~/static/js/services/automenuservices.js"></script>

    <script type="text/javascript">
        //<![CDATA[

        if (typeof (window.$j) == 'undefined') { window.$j = $; }
        window.$j.register = function (name) { if (!this._components) { this._components = {}; } this._components[name] = true; };
        window.$j.isRegistered = function (name) { if (!this._components) { return false; } return !!(this._components[name]); };
        window.$j.requires = function (name) { if (!this.isRegistered(name)) { alert('JQuery Extension " ' + name + '" not registered'); } };
        if (typeof (jQuery.fn.setArray) == 'undefined') { jQuery.fn.setArray = function (elems) { this.length = 0; jQuery.fn.push.apply(this, elems); return this; } };
        //]]>
    </script>

    <script type='text/javascript'>
        $(document).ready(function () {
            window.commonservices.init('https://cms-blackpool.cloud.contensis.com', 'https://api.blackpool.gov.uk/preview/');
        });
    </script>
    @if (Model.ViewModel != null && Model.ViewModel.ModelType == typeof(BGStandardWithDocuments).Name)
    {
        <script type='text/javascript'>$(document).ready(function () { window.automenuservices.init('#sidebar'); });</script>
    }
    <!-- ... existing meta, title, etc. ... -->
    @if (Context.Items["PageStyles"] is List<string> styles)
    {
        foreach (var href in styles)
        {
            <link rel="stylesheet" href="@href" />
        }
    }
</head>

<body>
    <!-- start of container -->
    <div id="container">
        <partial name="Global/_header" />
        <div id="root-container" class="homepage-max-width clearfix"
            style="margin-top: 0px; background-color: white; max-width:1170px; margin:auto;">
            <div class="row zero-pad-left zero-pad-right clearfix">
                <div id="blackpool-council-container" class="col-md-12 col-sm-12 zero-pad-all">
                    <div id="topbar" class="clearfix">
                        <div id="icon-landing-page-image-container"
                            class="clearfix grid-block grid-block-default-height">
                            &nbsp;
                        </div>
                        <div class="clearfix grid-block-5">
                            @try
                            {
                                @await Component.InvokeAsync("Breadcrumb")
                            }
                            catch (Exception ex)
                            {
                                <div style="background: #ffcccc; padding: 10px; margin: 10px;">
                                    <strong>Breadcrumb Error:</strong> @ex.Message
                                    <br />
                                    <small>@ex.StackTrace</small>
                                </div>
                            }
                            @await Component.InvokeAsync("Title")
                            <partial name="Global/_linkstopdf" />
                        </div>
                    </div>
                    <div class="row zero-pad-left zero-pad-right">
                        <div id="mainbar"
                            class="col-xs-12 col-sm-12 col-md-12 col-md-10 col-md-push-2 clearfix zero-pad-all">
                            @RenderBody()
                        </div>
                        <div id="sidebar"
                            class="col-xs-12 col-sm-12 col-md-12 col-md-2 col-md-pull-10 clearfix zero-pad-all">
                            <!--Additional Information to go here -->
                            @await Component.InvokeAsync("AdditionalInformation")
                      
                        </div>
                    </div>
                </div>
            </div>
            <partial name="Global/_backtotop" />
        </div>
        <partial name="Global/_footer" />
    </div>
    <!-- end of container -->
    <div id="sidr-menu" class="sidr" style="display: none;"></div>

    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/utilitiesservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/Scripts/common/common.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/homeservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/browserservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/scrollerservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/accordionservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/tableservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/services/galleryservices.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/run/runarticles.js"></script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/contensis/gallery.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            var pdfLinkChange = function () {
                url = window.location.href + '?download=DownloadasPDFlink_pdf'
                $('.icon-pdf').attr('href', url);
            };
            setTimeout(pdfLinkChange(), 800);
        });
    </script>

    <!-- Accordion CSS and Scripts -->
    <link rel="stylesheet "href="~/SiteElements/ChannelShift/Content/styles/bundles/year-2023/thirdparty/govuk/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/Content/styles/bundles/year-2023/thirdparty/govuk/accordion.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/Content/styles/bundles/year-2023/thirdparty/govuk/accordion-gallery.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteElements/ChannelShift/Content/styles/bundles/year-2023/thirdparty/govuk/overrides.css" asp-append-version="true" />
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <script type="text/javascript" src="~/SiteElements/ChannelShift/scripts/thirdparty/govuk/accordion.js"></script>
    <script type="text/javascript"rc="~/SiteElements/ChannelShift/scripts/services/privacy/privacyservices.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //tableservices.tablename("div.govuk-body table");
            //tableservices.init();
            tableservices.tablename(".data-table");

        });
    </script>

    @if (Context.Items["PageScripts"] is List<string> scripts)
    {
        foreach (var src in scripts) {  <script src="@src"></script><br/>    }
    }
    @if (Context.Items["PageInlineScripts"] is List<string> inlineScripts)
    {
        foreach (var script in inlineScripts){
            <script type="text/javascript">
                @Html.Raw(script)
            </script>
        }
    }
</body>
</html>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-D744" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-D744');
</script>
<!-- End Google Tag Manager -->